.strongSecurity::before {
    background-image: url(/icons/orange/strong-security.png);
}

.worldCoverage::before {
    background-image: url(/icons/orange/world-coverage.png);
}

.paymentOptions::before {
    background-image: url(/icons/orange/payment-options.png);
}

.mobileApp::before {
    background-image: url(/icons/orange/mobile-app.png);
}

.costEfficiency::before {
    background-image: url(/icons/orange/cost-efficiency.png);
}

.highLiquidity::before {
    background-image: url(/icons/orange/high-liquidity.png);
}

.imageContainer {
    height: 332px;
}

.buttonContainer {
    background-color: rgba(0, 0, 0, .5);
}

@media screen and (min-width: 600px) {
    .imageContainer {
        height: 241px;
    }
}

@media screen and (min-width: 1024px) {
    .cardsContainer {
        width: calc(100% - 400px);
    }

    .imageContainer {
        height: auto;
        width: 400px
    }
}

@media screen and (min-width: 1280px) {
    .cardsContainer {
        width: calc(100% - 450px);
    }

    .imageContainer {
        height: auto;
        width: 450px
    }
}