* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}

.text-gradient {
  /* Set the background size and repeat properties. */
  background-clip: text;
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#root {
  background-color: #F2F4FF;
  min-height: 100vh;
}

.bg-transition {
  transition: background 1s ease-in;
}

.text-transition {
  transition: color 1s ease-in;
}

.hero-slider .MuiIconButton-root {
  display: none;
}

.hero-slider:hover .MuiIconButton-root {
  display: inline-block;
}

@media screen and (min-width: 600px) {
  .before-after-border::before, .before-after-border::after {
      bottom: 0;
      border-bottom: 30px solid #171717;
      content: "";
      height: 15px;
      position: absolute;
      width: 50%;
  }

  .before-after-border::before {
      border-right: 125px solid transparent;
      left: 0;
  }

  .before-after-border::after {
      border-left: 125px solid transparent;
      right: 0;
  }
}

@media screen  and (min-width: 900px){
  
}
