.list {
    height: 250px;
    transition: transform 1.4s ease-in;
}

.secureHero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url(/slider/bg1.jpg);
}

.exchangeHero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url(/slider/bg2.jpg);
}

.heroButtons {
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

@media screen and (min-width: 600px) {
    .list {
        height: 350px;
    }

    .heroTitle {
        line-height: 3.4rem !important;
    }
}

@media screen and (min-width: 768px) {
    .list {
        height: 420px;
    }

    .heroTitle {
        line-height: 4.5rem !important;
    }
}

@media screen and (min-width: 990px) {
    .list {
        height: 534px;
    }
}