.header {
    transition: all ease-in 1s;
}

.headerFixed {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.button {
    width: 48.5%;
}

@media screen and (min-width: 768px) {
    .cartIcon {
        font-size: 1.2rem;
    }
}