.buttonsContainer::before, .toggleButton {
    padding-bottom: .6rem;
    padding-top: .6rem;
    width: 80px;
}

.buttonsContainer::before {
    content: "" !important;
    height: 100%;
    top: 0;
    transition: all 1s;
    width: 80px;
}

.buttonsContainerLeft::before {
    left: 0;
}

.buttonsContainerRight::before {
    transform: translateX(100%);
}

.toggleButton {
    color: #FFF;
}

@media screen and (min-width: 600px) {
    .buttonsContainer::before, .toggleButton {
        width: 100px;
    }
}
